.item-title {
    text-decoration: inherit;
}

.list-item {
    margin: 10px;
    padding-left: 25px;
    background-color: rgb(252, 243, 231);
}

.odd-list-item {
    margin: 10px;
    padding-left: 25px;
    background-color: rgb(236, 250, 246);
}

.list-item:hover, .odd-list-item:hover {
    background-color: rgb(200, 200, 200);
}

.item-description {
    text-decoration: inherit;
}

.completed {
    text-decoration: line-through;
}

.remove-button {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    color: white;
    user-select: none;
}

.remove-button:hover {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    border-radius: 10px;
    background-color: gray;
    color: black;
    user-select: none;
};
